/* TYPOGRAPHY
*
*******************************************/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #fff;
}
h1 {
  text-shadow: 1px 1px 1px #e2cfbe;
  font-family: 'Montserrat', sans-serif;
  font-size: 80px;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
}
a {
  color: #000;
}
a.white {
  color: #fff;
}
a:focus, a:hover {
  color: grey;
}
.btn-default {
  background-color: #000;
}
.btn-default:hover {
  background-color: #000;
  color: grey;
}
.small {
  color: #000;
  font-size: 10px;
}
.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/* NAVIGATION
*
*****************************************/
.navbar {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  border: none;
  color: #000;
}
.navbar-default {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: -2px;
  color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #000;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar:hover, .navbar-default .navbar-toggle .icon-bar:focus, .navbar-default .navbar-toggle .icon-bar:active {
    background-color: grey;
}


/* MAILCHIMP
*
*******************************************/
#mc_embed_signup {
 color: #000; 
}
#mc-embedded-subscribe-form {
  border-color: #000;
}
#mc_embed_signup input.button {
  background-color: #000;
  color:  #fff;
  border-color: #000;
}

/* FOOTER
*
*****************************************/
.footer {
  font-size: 10px;
}
.footer a {
  text-decoration: underline;
}